src/DVD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <!-- Root element -->
    <xs:element name="DVD">
        <xs:complexType>
            <xs:sequence>

                <xs:element name="oclcNumbr" type="xs:string"/>

                <xs:element name="title" type="xs:string"/>

                <!-- voiceActors contains multiple <voice> elements -->
                <xs:element name="voiceActors">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="voice" type="xs:string" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="Credit" type="xs:string"/>

                <xs:element name="Language" type="xs:string"/>

                <xs:element name="year" type="xs:gYear"/>

                <!-- Publisher has an attribute -->
                <xs:element name="Publisher">
                    <xs:complexType mixed="true">
                        <xs:attribute name="location" type="xs:string" use="required"/>
                    </xs:complexType>
                </xs:element>

                <!-- Multiple genres allowed -->
                <xs:element name="Genre" type="xs:string" maxOccurs="unbounded"/>

                <xs:element name="PhysicalDescription" type="xs:string"/>

                <xs:element name="ISBN" type="xs:string"/>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
